[user]
	name = John L. Godlee
	email = johngodlee@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	pager = delta 
[delta]
    line-numbers = true
    side-by-side = true
[commit]
	verbose = true
[alias]
    graph = log --graph --decorate --pretty=oneline --abbrev-commit --all
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
