[user]
	name = johngodlee
	email = johngodlee@gmail.com
[credential]
	helper = osxkeychain
[core]
	editor = vim
	pager = less 
	excludesfile = /Users/johngodlee/.gitignore_global
[difftool]
	external = git_diff_wrapper 
[pager]
	diff = 
[commit]
	verbose = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[alias]
	network = log --graph --decorate --pretty=oneline --abbrev-commit --all
[http]
	postBuffer = 524288000
	cookiefile = /Users/johngodlee/.gitcookies
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
