snippet href "HTML link"
<a href="$1" target="_blank">$2</a>
endsnippet
	
snippet ul "Create an unordered list"
<ul>
	<li>
		${0:${VISUAL}}
	</li>
</ul>
endsnippet

snippet ol "Create an unordered list"
<ol>
	<li>
		${0:${VISUAL}}
	</li>
</ol>
endsnippet


