snippet img "Insert an image" b
![${1:alt text}]($2)
endsnippet

snippet yaml_blog "Insert YAML frontmatter" b
---
layout: post
title: "$1"
date: ${2:`date +%Y`}-${3:`date +%m`}-${4:`date +%d`}
---
endsnippet
	
snippet table "Insert a table" b
| col1 | col2 |
| ---- | ---- |
| 21   | test |
| 22   | test |
endsnippet

snippet link "Insert a basic link" w
[${1:description}](${2:${VISUAL}})
endsnippet
