snippet > "Insert a pipe" i
%>%
endsnippet

snippet func "Insert a function" b
$1 <- function($2){
  $3
}
endsnippet

snippet preamble "Insert a preamble" b
# $1
# John Godlee (johngodlee@gmail.com)
# `date +%Y-%m-%d`

# Set working directory

# Packages
$2
endsnippet

snippet lib "Insert a package" b
library($1)
endsnippet

snippet #' "generate Roxygen2 block" b
#' $1
#'
#' @param $2
#'
#' @return $3
#' 
#' @examples
#' $4
#' 
#' @export
#' 
endsnippet
