html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

}

body {
	font-size: 20px;
	width: 100%;
	text-align: center;
	position: relative;
	top: 40%;
}


h1 {
	font-size: 50px;	
	font-family: Arial;
}

input[type=text] {
	border: 2px solid black;
	line-height: 28px;
	height: 38px;
	padding: 8px;
}

select { 
	border: 2px solid black;
	height: 38px;
	line-height: 28px;
	appearance: none;
	background: transparent;
}

