:root {
	--main-bg-color: #20323e;
	--main-text-color: #e3e3e3;
	--main-link-color: #789cbc;
	--main-link-visited-color: #658fb3;
	--main-border-color: #9daeb8;
	--input-text-color: #f2f2f2;
	--input-bg-color: #1e4061;
	--code-bg-color: #2f5f91;
}

/* Basic configuration */

body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}

html {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}

a {
	color: var(--main-link-colour) !important;
}

input, textarea {
	background-color: var(--input-bg-color);
	color: var(--input-text-color);
}

li {
	color: var(--main-text-color) !important;
}

li span {
	color: var(--main-text-color) !important;
}

code {
	color: var(--main-text-color);
	background-color: var(--code-bg-color);
	border-color: var(--main-border-color);
}

pre {
	background-color: var(--code-bg-color) !important;
}

